* {
  box-sizing: border-box;
}
html,
body {
  background-image: url("Nature.jpg");
  background-size: cover;
}
.login-page {
  width: 360px;
  padding: 5% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  max-width: 350px;
  margin: 0 auto 20px;
  padding: 10px;
  text-align: center;
}
.container {
  display: none;
  margin: 10px 50px;
}

.container-login {
  margin: 10px 50px;
  position: absolute;
  top: 100px;
}
.form input {
  box-sizing: border-box;
  width: 150%;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  text-transform: uppercase;
  background-color: darkgray;
  width: 150%;
  padding: 15px;
  color: #fff;
  cursor: pointer;
  border: none;
}
.form .message {
  margin: 15px 0 0;
  color: #fff;
}

.output {
  justify-content: center;
  color: black;
}

#logout {
  width: 100px;
  border-radius: 4px;
  color: black;
  margin-left: 650px;
}

#output {
  display: none;
}
